# Twitter credentials
TWITTER_CONSUMER_KEY = 'XXXXXXXXX'
TWITTER_CONSUMER_SECRET = 'XXXXXXXXX'
TWITTER_ACCESS_TOKEN = 'XXXXXXXXX'
# SoundCloud credentials
SOUNDCLOUD_USERNAME = 'XXXXXXXXX'
SOUNDCLOUD_PASSWORD = 'XXXXXXXXX'
SOUNDCLOUD_CLIENT_ID = 'XXXXXXXXX'
SOUNDCLOUD_CLIENT_SECRET = 'XXXXXXXXX'