# Twitter credentials
TWITTER_CONSUMER_KEY = 'XXXXXXXXX'
TWITTER_CONSUMER_SECRET = 'XXXXXXXXX'
TWITTER_ACCESS_TOKEN = 'XXXXXXXXX'
# SoundCloud credentials
SOUNDCLOUD_USERNAME = 'XXXXXXXXX'
SOUNDCLOUD_PASSWORD = 'XXXXXXXXX'
SOUNDCLOUD_CLIENT_ID = 'XXXXXXXXX'
SOUNDCLOUD_CLIENT_SECRET = 'XXXXXXXXX'
# Campaign Monitor credentials
CM_CLIENT_ID = 'XXXXXXXXX'
CM_CLIENT_API_KEY = 'XXXXXXXXX'
CM_LIST_ID = 'XXXXXXXXX'