Flask==0.10.1
Flask-Assets==0.10
Jinja2==2.7.2
MarkupSafe==0.18
Werkzeug==0.9.4
birdy==0.2
createsend==4.0.0
cssmin==0.2.0
fudge==1.0.3
itsdangerous==0.23
jsmin==2.1.0
oauthlib==0.7.2
python-memcached==1.53
requests==2.5.1
requests-oauthlib==0.4.2
simplejson==3.6.5
soundcloud==0.4.1
tornado==4.4.1
webassets==0.10.1
wsgiref==0.1.2
