/* Base styles */
@font-face {
  font-family: 'primetimeregular';
  src: url("../fonts/primetime-regular.eot");
  src: url("../fonts/primetime-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/primetime-regular.woff2") format("woff2"), url("../fonts/primetime-regular.woff") format("woff"), url("../fonts/primetime-regular.ttf") format("truetype"), url("../fonts/primetime-regular.svg#primetimeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot?80464758");
  src: url("../fonts/icons.eot?80464758#iefix") format("embedded-opentype"), url("../fonts/icons.woff?80464758") format("woff"), url("../fonts/icons.ttf?80464758") format("truetype"), url("../fonts/icons.svg?80464758#icons") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */ }

.icon-play:before {
  content: '\e800'; }

.icon-stop:before {
  content: '\e801'; }

.icon-pause:before {
  content: '\e802'; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: url(../img/bg.jpg) #38c0f2 0 0 no-repeat;
  background-size: contain;
  min-height: 1000px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  font-size: 14px; }

img {
  display: block;
  max-width: 100%; }

h1, h2, h3, h4 {
  font-family: 'primetimeregular';
  text-transform: uppercase; }

h1 {
  font-size: 22px; }

p, img, dl, ul, .embed-container {
  margin-top: 15px; }

strong {
  font-weight: bold; }

.box p a, .box dd a, .external-links a {
  color: #FFFFFF;
  background-color: #040D11;
  padding: 2px 4px; }

.container {
  max-width: 960px;
  margin: 0 20px; }

.block-group {
  margin: 0 -10px; }

.block {
  padding: 0 10px; }

.box {
  margin-top: 15px;
  border-radius: 3px;
  background-color: rgba(50, 187, 237, 0.46);
  padding: 15px 20px 20px 20px;
  border: solid 1px #169DAE; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.header img {
  margin-top: 20px; }

.nav {
  font-family: 'primetimeregular';
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px; }
  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; }
  .nav li {
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 1.5em; }
  .nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000; }

.tracklisting {
  font-family: 'primetimeregular';
  font-size: 18px;
  margin-top: 10px; }
  .tracklisting li {
    text-transform: uppercase;
    line-height: 1.8em;
    vertical-align: top; }
  .tracklisting a {
    text-decoration: none;
    color: #000;
    vertical-align: top; }
  .tracklisting img.loader {
    display: none;
    margin: 12px 0 0 10px;
    vertical-align: top; }

.external-links {
  font-size: 16px; }
  .external-links li {
    margin: 5px 0 5px 0; }
    .external-links li span {
      display: block;
      font-size: 13px; }

.mailing input {
  display: block;
  width: 100%;
  padding: 11px 10px 9px 10px;
  border: solid 1px #040D11;
  border-radius: 3px; }
  .mailing input[type=submit] {
    margin-top: 10px;
    border: solid 1px #040D11;
    background-color: #040D11;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px; }

.social img {
  display: inline; }

.gigs dt {
  font-weight: bold; }

#tweet-container {
  line-height: 1.4em; }
  #tweet-container span {
    font-weight: bold;
    display: block; }
  #tweet-container div.tweet-container-placeholder {
    text-align: center;
    padding: 150px 0;
    font-weight: bold; }
    #tweet-container div.tweet-container-placeholder img {
      display: inline; }

.footer {
  font-family: 'primetimeregular';
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 40px; }

@media (min-width: 500px) {
  .mailing input {
    display: inline;
    width: auto; }
    .mailing input[type=submit] {
      margin-top: 0; } }
.tinynav {
  width: 100%;
  border: solid 1px #169DAE;
  border-radius: 3px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #38c0f2;
  padding: 10px 10px 8px 10px; }

@media (min-width: 722px) {
  .tinynav {
    display: none; }

  .nav ul {
    display: block; } }
@media (min-width: 745px) {
  .nav li {
    margin: 0 5px 0 0; }
    .nav li:last-child {
      margin: 0; } }
@media (min-width: 768px) {
  .content-half {
    width: 50%; } }
@media (min-width: 842px) {
  .nav li {
    margin-right: 0; }
    .nav li:before {
      content: "/ "; }
    .nav li:first-child:before {
      content: ""; } }
@media (min-width: 918px) {
  .gigs {
    overflow: auto; }
    .gigs dt {
      margin-top: 5px;
      float: left;
      clear: left;
      width: 150px; }
    .gigs dd {
      margin-top: 5px;
      float: left; } }
@media (min-width: 1000px) {
  .container {
    margin: 0 auto; }

  .header img {
    margin-top: 40px; } }
@media (min-width: 1450px) {
  body {
    background-size: cover; } }
