# .htaccess has absolutely no effect on Flask/WSGI sites as far as I can see,
# so this file should be deployed to a separate static site on WebFaction.
# Then route all non-canonical domains/hosts to that static site

# Enable rewriting
RewriteEngine On

# Redirect all non-www traffic to the www version of site (prevents possible duplicate content) 
RewriteCond %{HTTP_HOST} ^floodband.co.uk
RewriteRule (.*) http://floodband.uk/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^www.floodband.co.uk
RewriteRule (.*) http://floodband.uk/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^www.floodband.uk
RewriteRule (.*) http://floodband.uk/$1 [R=301,L]