{% extends "layout.html" %}

{% block meta %}

<title>Contact Flood</title>
<meta property="og:title" content="Flood">
<meta property="og:image" content="http://floodband.uk{{ url_for('static', filename='img/logo-blue.jpg') }}">
<meta property="og:url" content="http://floodband.uk/contact"/>
<meta property="og:site_name" content="Flood">
<meta property="og:description" content="Get in touch with Flood">

{% endblock %}

{% block body %}

<div class="content-full block">
    <div class="box">
        <h1>Bookings &amp; Contact</h1>
        <p>If you'd like to get in touch, please send us a message using any of the following and we'll get back to you ASAP:</p>
        <p>Email: <a class="social" title="Email" href="&#109;&#097;&#105;&#108;&#116;&#111;:&#105;&#110;&#102;&#111;&#064;&#102;&#108;&#111;&#111;&#100;&#098;&#097;&#110;&#100;&#046;&#117;&#107;">&#105;&#110;&#102;&#111;&#064;&#102;&#108;&#111;&#111;&#100;&#098;&#097;&#110;&#100;&#046;&#117;&#107;</a></p>
        <p>Twitter: <a class="social" title="Twitter" href="https://twitter.com/floodbanduk">https://twitter.com/floodbanduk</a></p>
        <p>Facebook: <a class="social" title="Facebook" href="https://facebook.com/floodbanduk">https://facebook.com/floodbanduk</a></p>
    </div>
</div>
                
{% endblock %}