{% extends "layout.html" %}

{% block body %}

<div class="content-half block">
    <div class="music box">
        <h1>New Album Out Now</h1>
        <p>Debut album <strong>'Flood'</strong> released 10/02/2015: available now on <a href="">iTunes</a>, <a href="">Google Play</a> and <a href="">BandCamp</a>.</p>
        <ul class="tracklisting">
            <li><a href="https://soundcloud.com/floodbanduk/hourglass-blues" title="Fuzzbender" data-soundcloudid="147717178"><span class="icon-play"></span> Play Fuzzbender</a><img class="loader" src="{{ url_for('static', filename='img/ajax-loader.gif') }}"></li>
            <li><a href="https://soundcloud.com/floodbanduk/wide-open" title="Take The Blame" data-soundcloudid="147717103"><span class="icon-play"></span> Play Take The Blame</a><img class="loader" src="{{ url_for('static', filename='img/ajax-loader.gif') }}"></li>
        </ul>
        <img src="{{ url_for('static', filename='img/flood-album-cover.jpg') }}">
    </div>
    <div class="about box">
        <h1>About</h1>
        <p>Flood are a three-piece original blues rock band based in Plymouth, UK, consisting of Ian Lightley (guitar, vocals), Tom Anderson (bass) and Mark Bell (drums).</p>
    </div>
    <div class="mailing box">
        <h1>Mailing List</h1>
        <p>Join our mailing list for (very!) occasional updates:</p>
        <form id="mailing-list-subscribe" action="/subscribe" method="post">
            <p><input type="text" name="email" value="" placeholder="Email address"> 
            <input class="button-primary" type="submit" value="Sign Up">
        </form>
    </div>
</div>
<div class="content-half block">
    <div class="gigs box">
        <h1>Upcoming Gigs</h1>
        <dl>
            <dt class="gig-date">Thu 19th Feb</dt>
            <dd><a href="http://www.thebarley.com/" target="_blank">The Barley Sheaf, Liskeard</a></dd>
            <dt class="gig-date">Sat 28th Feb</dt>
            <dd><a href="https://www.facebook.com/pages/The-Nowhere-Inn/185989338077914" target="_blank">The Nowhere Inn, Plymouth</a></dd>
            <dt class="gig-date">Sun 1st Mar</dt>
            <dd><a href="http://www.thistlepark.com/" target="_blank">The Thistle Park Tavern, Plymouth</a></dd>
            <dt class="gig-date">Fri 6th Mar</dt>
            <dd><a href="http://www.bluesbarandgrill.co.uk/" target="_blank">The Blues Bar &amp; Grill, Plymouth</a></dd>
            <dt class="gig-date">Sat 14th Mar</dt>
            <dd><a href="http://www.theglobelooe.co.uk/" target="_blank">The Globe Inn, Looe</a></dd>
        </dl>
    </div>
    <div class="tweets box">
        <h1>Latest</h1>
        <div id="tweet-container">
            <div class="tweet-container-placeholder">
                Loading <img src="{{ url_for('static', filename='img/ajax-loader.gif') }}">
            </div>
        </div>
    </div>
    <div class="video box">
        <h1>Live Video</h1>
        <div class="embed-container"><iframe src="https://www.youtube.com/embed/Ya31RSTHhCk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div>
    </div>
</div>
                
{% endblock %}