{% extends "layout.html" %}

{% block meta %}

<title>Flood: an original blues rock band based in Plymouth, UK</title>
<meta property="og:title" content="Flood">
<meta property="og:image" content="http://floodband.uk{{ url_for('static', filename='img/logo-blue.jpg') }}">
<meta property="og:url" content="http://floodband.uk"/>
<meta property="og:site_name" content="Flood">
<meta property="og:description" content="An original blues rock band based in Plymouth, UK">

{% endblock %}

{% block body %}

<div class="content-half block">
    <div class="music box">
        <h1>Album Out Now</h1>
        <p>Debut album <strong>'Flood'</strong> released 10/02/2015: available now on <a class="social" title="iTunes Buy Link" href="https://itunes.apple.com/gb/album/flood/id966532936">iTunes</a>, <a class="social" title="Google Play Buy Link" href="https://play.google.com/store/music/album/Flood_Flood?id=Btwtxw54z2piamj2ksmpnzjjzta">Google Play</a>, <a class="social" title="Spotify Buy Link" href="https://play.spotify.com/album/6UYuZNaFga8S9VUvlPhiKy">Spotify</a> and on CD from <a class="social" title="Bandcamp Buy Link" href="https://floodbanduk.bandcamp.com/">Bandcamp</a>.</p>
        <ul class="tracklisting">
            <li><a href="https://soundcloud.com/floodbanduk/fuzzbender" title="Fuzzbender" data-soundcloudid="189962688"><span class="icon-play"></span> Play Fuzzbender</a><img class="loader" src="{{ url_for('static', filename='img/ajax-loader.gif') }}"></li>
            <li><a href="https://soundcloud.com/floodbanduk/take-the-blame" title="Take The Blame" data-soundcloudid="189962689"><span class="icon-play"></span> Play Take The Blame</a><img class="loader" src="{{ url_for('static', filename='img/ajax-loader.gif') }}"></li>
        </ul>
        <a class="social" title="Bandcamp Buy Link" href="https://floodbanduk.bandcamp.com/"><img src="{{ url_for('static', filename='img/flood-album-cover.jpg') }}"></a>
    </div>
    <div class="about box">
        <h1>About</h1>
        <p>Flood are a three-piece original blues rock band based in Plymouth, UK, consisting of Ian Lightley (guitar, vocals), Tom Anderson (bass) and Mark Bell (drums).</p>
    </div>
</div>
<div class="content-half block">
    <div class="gigs box">
        <h1>Upcoming Gigs</h1>
        <p>Catch Flood live at one of these venues in the near future:</p>
        <dl>
            <dt class="gig-date">Fri 3rd Feb, 9pm</dt>
            <dd><a href="http://www.royal-inn.co.uk/" class="external" title="The Royal Inn, Par">The Royal Inn, Par</a></dd>
            <dt class="gig-date">Sat 18th Feb, 9pm</dt>
            <dd><a href="https://www.facebook.com/unioninnsaltash" class="external" title="The Union Inn, Saltash">The Union Inn, Saltash</a></dd>
            <dt class="gig-date">Fri 21st Jul, 9pm</dt>
            <dd><a href="https://www.facebook.com/unioninnsaltash" class="external" title="The Union Inn, Saltash">The Union Inn, Saltash</a></dd>
            <dt class="gig-date">Fri 28th Jul, 9pm</dt>
            <dd><a href="http://www.royal-inn.co.uk/" class="external" title="The Royal Inn, Par">The Royal Inn, Par</a></dd>
            <dt class="gig-date">Fri 17th Nov, 9pm</dt>
            <dd><a href="https://www.facebook.com/unioninnsaltash" class="external" title="The Union Inn, Saltash">The Union Inn, Saltash</a></dd>
        </dl>
    </div>
    <div class="tweets box">
        <h1>Latest</h1>
        <div id="tweet-container">
            <div class="tweet-container-placeholder">
                Loading <img src="{{ url_for('static', filename='img/ajax-loader.gif') }}">
            </div>
        </div>
    </div>
    <div class="video box">
        <h1>Live Video</h1>
        <div class="embed-container"><iframe src="https://www.youtube.com/embed/Ya31RSTHhCk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div>
    </div>
</div>
                
{% endblock %}