<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Flood: an original blues rock band based in Plymouth, UK</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pocketgrid.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="block-group">
                <div class="header block">
                    <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}"></a>
                </div>
                <div class="nav block">
                    <ul>
                        <li><a href="/" title="Home page">Home</a></li>
                        <li><a class="social" title="SoundCloud" href="https://soundcloud.com/floodbanduk">Music</a></li>
                        <li><a href="/links" title="Links">Links</a></li>
                        <li><a class="social" title="Twitter" href="https://twitter.com/floodbanduk">Twitter</a></li>
                        <li><a class="social" title="Facebook" href="https://facebook.com/floodbanduk">Facebook</a></li>
                        <li><a class="social" title="Instagram" href="https://instagram.com/floodbanduk">Instagram</a></li>
                        <li><a href="/contact" title="Contact the band">Contact</a></li>
                    </ul>
                </div>
                {% block body %}{% endblock %}
                <div class="footer block">
                    <p>All Content Copyright Flood 2015</p>
                </div>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script>

            $(function() {
                FloodSite.init();
            });

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-48755454-1', 'auto');
            ga('send', 'pageview');

        </script>
        <script src="http://connect.soundcloud.com/sdk.js"></script>
        <script>

            SC.initialize({
                client_id: 'b5b347c163a98e3b7b2f0e67f950a3d5'
            });

        </script>
    </body>
</html>