{% extends "layout.html" %}

{% block body %}

<div class="content-full block">
    <div class="box">
        <h1>Links</h1>
        <p>If you'd like your venue or service listed here, please <a href="/contact">get in touch</a>.</p>
    </div>
</div>
<div class="content-half block">
    <div class="box">
        <h2>Venues</h2>
        <p>Pubs and clubs for live music lovers:</p>
        <ul class="external-links">
            <li><a href="https://www.facebook.com/unioninnsaltash">The Union Inn, Saltash</a></li>
            <li><a href="https://www.facebook.com/mutleyjunction">The Junction, Plymouth</a></li>
            <li><a href="https://www.facebook.com/thecarriersinnbude">The Carriers Inn, Bude</a></li>
            <li><a href="">Link 4</a></li>
        </ul>
    </div>
</div>
<div class="content-half block">
    <div class="box">
        <h2>Musician Services</h2>
        <p>Studios, rehearsal spaces and resources for local bands:</p>
        <ul class="external-links">
            <li><a href="http://plymouthmusiccollective.com/">Plymouth Music Collective</a></li>
            <li><a href="">Link 2</a></li>
            <li><a href="">Link 3</a></li>
            <li><a href="">Link 4</a></li>
        </ul>
    </div>
</div>
                
{% endblock %}