{% extends "layout.html" %}

{% block meta %}

<title>Flood Links</title>
<meta property="og:title" content="Flood Links">
<meta property="og:image" content="http://floodband.uk{{ url_for('static', filename='img/logo-blue.jpg') }}">
<meta property="og:url" content="http://floodband.uk/links"/>
<meta property="og:site_name" content="Flood">
<meta property="og:description" content="Links to friends, venues and musician services">

{% endblock %}

{% block body %}

<div class="content-full block">
    <div class="box">
        <h1>Links</h1>
        <p>If you'd like your venue or service listed here, please <a href="/contact">get in touch</a>.</p>
    </div>
</div>
<div class="content-half block">
    <div class="box">
        <h2>Venues</h2>
        <p>Pubs and clubs for live music lovers:</p>
        <ul class="external-links">
            <li><a href="https://www.facebook.com/unioninnsaltash" title="The Union Inn, Saltash">The Union Inn, Saltash</a></li>
            <li><a href="https://www.facebook.com/mutleyjunction" title="The Junction, Plymouth">The Junction, Plymouth</a></li>
            <li><a href="https://www.facebook.com/thecarriersinnbude" title="The Carriers Inn, Bude">The Carriers Inn, Bude</a></li>
            <li><a href="https://www.facebook.com/pages/The-Nowhere-Inn/185989338077914" title="The Nowhere Inn, Plymouth">The Nowhere Inn, Plymouth</a></li>
            <li><a href="http://www.royal-inn.co.uk/" title="The Royal Inn, Par">The Royal Inn, Par</a></li>
            <li><a href="http://www.thistlepark.com/" title="The Thistle Park Tavern, Plymouth">The Thistle Park Tavern, Plymouth</a></li>
        </ul>
    </div>
    <div class="box">
        <h2>Music News &amp; Reviews</h2>
        <p>Find local gigs (and read about those you missed)!</p>
        <ul class="external-links">
            <li>
                <a href="http://www.tunedcornwall.com/" title="Tuned Cornwall">Tuned Cornwall</a>
                <span>News, reviews and interviews from the world of live music in Cornwall.</span>
            </li>
        </ul>
    </div>
</div>
<div class="content-half block">
    <div class="box">
        <h2>Musician Services</h2>
        <p>Studios, rehearsal spaces and resources for local bands:</p>
        <ul class="external-links">
            <li>
                <a href="http://livewireyouth.com/" title="Livewire Youth Project">Livewire Youth Project</a>
                <span>All of the drum tracks for our debut album were recorded at Livewire's studio in Saltash! A fantastic rehearsal, recording and performance facility for young local bands.</span>
            </li>
            <li>
                <a href="http://plymouthmusiccollective.com/" title="Plymouth Music Collective">Plymouth Music Collective</a>
                <span>Another great local organisation providing rehearsal space, recording studios and equipment storage. Invaluable to Plymouth-based musicians.</span>
            </li>
            <li>
                <a href="http://www.duplicationcentre.co.uk/" title="Duplication Centre">Duplication Centre</a>
                <span>CD printing and duplication.</span>
            </li>
        </ul>
    </div>
</div>
                
{% endblock %}