{% extends "layout.html" %}

{% block body %}

<div class="content-half block">
    <div class="box">
        <h1>New Album Out Now</h1>
        <p>Debut album <strong>'Flood'</strong> released 10/02/2015.</p>
        <p>Available digitally on <a class="social" title="iTunes Buy Link" href="https://itunes.apple.com/gb/album/flood/id966532936">iTunes</a>, <a class="social" title="Google Play Buy Link" href="https://play.google.com/store/music/album/Flood_Flood?id=Btwtxw54z2piamj2ksmpnzjjzta">Google Play</a>, <a class="social" title="Spotify Buy Link" href="https://play.spotify.com/album/6UYuZNaFga8S9VUvlPhiKy">Spotify</a> and <a class="social" title="Bandcamp Buy Link" href="https://floodbanduk.bandcamp.com/">Bandcamp</a>. Physical CDs are also available from <a class="social" title="Bandcamp Buy Link" href="https://floodbanduk.bandcamp.com/">Bandcamp</a> (or at any of our live gigs for a discounted price).</p>
        <a class="social" title="Bandcamp Buy Link" href="https://floodbanduk.bandcamp.com/"><img src="{{ url_for('static', filename='img/flood-album-cover.jpg') }}"></a>
    </div>
</div>

<div class="content-half block">
    <div class="box">
        <h1>SoundCloud</h1>
        <p>Listen to sample tracks and demos on <a class="social" title="SoundCloud" href="https://soundcloud.com/floodbanduk">SoundCloud</a>.</p>
        <div class="soundcloud-embed"><iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/82752421&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></div>
    </div>
</div>
                
{% endblock %}